.card {
  min-width: 320px;
  max-width: 800px;
  height: 400px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img {
  border-radius: 15px 0px 0 15px;
}
.card-body {
  border-radius: 0 15px 15px 0;
}
